[submodule "modules/EdpMarkdown"]
	path = modules/EdpMarkdown
	url = https://github.com/EvanDotPro/EdpMarkdown.git
[submodule "library/ZendFramework"]
	path = library/ZendFramework
	url = https://github.com/zendframework/zf2.git
[submodule "modules/Bootstrap"]
	path = modules/Bootstrap
	url = https://github.com/twitter/bootstrap.git
